@import "../../globalSyles/variables";

.CourseNew {

  h3 {
    font-family: $font-stack-headlines;
    color: $text-dark;
  }

  label {
    flex-basis: 100%;
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
    color: $text-dark;
    font-family: $font-stack-primary;
    font-weight: bold;
  }

  input, select {
    max-width: 500px;
    margin-top: .25em;
    line-height: 2em;
    border-radius: 5px;
    outline: none;
    background-color: $text-white;
    height: 2em;
    max-height: 2em;
  }

  span.required {
    color: $text-red;
  }

  input.required {
    border: 2px solid $text-red;
  }

  .half {
    max-width: 200px;
  }
}