@import "../../globalSyles/variables";


%span {
  display: block;
  box-shadow: -.5px -.5px 1px 0 inset $text-white,
              .5px .5px 1px 0 inset $text-dark;
  line-height: 2.25em;
  padding: 0 15px;
  transition: box-shadow .3s ease-in-out;
  border-radius: 1px;
  overflow: hidden;
  text-decoration: none;
  color: $text-dark;
}

.Courses {
  h3 {
    text-align: center;
  }
}

.CourseRow {
  background-color: darken($text-white, 2%);
  font-family: $font-stack-primary;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  transition: background-color .3s ease-in-out,
              color .3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: darken($text-white, 7%);
  }

  &:nth-child(even) {
    background-color: lighten($text-dark, 75%);

    &:hover {
      background-color: lighten($text-dark, 70%);
    }
  }

  &:last-of-type {
    box-shadow: 0 3px 5px 0 $text-dark;
  }
  .name {
    @extend %span;
    flex: 1 0 40%;
  }

  .city {
    @extend %span;
    flex: 1 1 40%;
  }

  .state {
    @extend %span;
    flex: 0 0 20px;
  }

  .delete {
    @extend %span;
    background-color: $text-red;
    color: $text-white;
    border: none;
    outline: none;
    box-shadow: .5px .5px 1px .5px inset darken($text-red, 25%),
    -.5px -.5px 1px .5px inset lighten($text-red, 25%);
    cursor: pointer;
    transition: background-color .3s ease-in-out,
                color .3s ease-in-out;

    &:hover {
      background-color: darken($text-red, 25%);
      color: darken($text-white, 25%);
    }
  }
}