@import '../../globalSyles/variables';

$margin-mobile: 285px;
$margin-desktop: 315px;

.FormContainer {
  background-color: darken($text-white, 2%);
  height: calc(100vh - #{$margin-mobile} );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  box-shadow: -2px -2px 3px 0 inset $text-dark,
              2px 2px 3px 0 inset $text-white;
  border-radius: 10px 10px 2px 2px;
  overflow-y: scroll;
  overflow-x: auto;

  @media screen and (min-width: $screen-l) {
    height: calc(100vh - #{$margin-desktop} );
  }
}