// color theme variables
$text-white: #fcfcfa;
$text-dark: #223;
$text-red: #cc3838;
$gray: #555;



// fonts
$font-url-primary : 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

$font-url-links : 'https://fonts.googleapis.com/css?family=Varela+Round&display=swap';

$font-url-headlines : 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

$font-stack-primary: 'Roboto', sans-serif;
$font-stack-links: 'Varela Round', sans-serif;
$font-stack-headlines: 'Roboto', sans-serif;

// breakpoints
$screen-xs: 350px;
$screen-s: 500px;
$screen-m: 700px;
$screen-l: 980px;
$screen-xl: 1400px;