@import "../../globalSyles/variables";

.Title {
  box-shadow: -2px -2px 3px 0 inset $text-dark,
              2px 2px 3px 0 $text-dark;
  border-radius: 10px 10px 5px 5px;

  h2 {
    font-family: $font-stack-headlines;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    padding-left: 15px;
  }
}