// import variables partial
@import "../globalSyles/variables";

// import all fonts
@import url($font-url-primary);
@import url($font-url-headlines);
@import url($font-url-links);


.App {
  position: fixed;
  height: 100vh;
  min-height: 100%;
  width: 100vw;
  margin: 0%;
  background: url('../images/Ballybunion_Golf_Club_-_10th_hole.jpg') center no-repeat;
}