@import "../../globalSyles/variables";

.Rounds {
  text-align: center;
  color: $text-dark;

  h1 {
    font-family: $font-stack-headlines;
    font-size: 3em;
  }

  p {
    font-family: $font-stack-primary;
    font-size: 1.5em;
  }

}